<div class="Container">
    <div class="main">
        <div class="header">
            <p type="button">Home /</p>
            <p>My Wishlist</p>
        </div>
    </div>
    <div class="cart_container">
        <h3>My Wishlist({{BookList.length}})</h3>
        <div class="crt" *ngFor="let Book of BookList">
            <div class="image">
                <img src="../../../assets/Image 11.png" alt="">
            </div>
            <div class="book-description">
                  <h2>{{Book.product_id.bookName}}</h2>
                <p>by {{Book.product_id.author}}</p>
                <div class="price-container" fxLayout="row">
                    <div class="dicounted-price">
                        <b>{{Book.product_id.discountPrice}}</b>
                    </div>
                    <div class="actual-price">
                        Rs. {{Book.product_id.price}}
                    </div>
                </div>
            </div>
            <div class="delete" (click)="deleteItem(Book.product_id._id)">
                <img src="../../../assets/delete.svg" alt="">
            </div>
        </div>
    </div>
</div>
