<div class="Container">
    <div class="main">
        <div class="header">
            <p routerLink="/home/books" type="button">Home /</p>
            <p>Book</p>
        </div>
    </div>
    <div class="main-container">
        <div class="img-small-field">
            <div class="image-small">
                <img src="../../../assets/image 36.png" alt="">
            </div>
        </div>
        <div class="img-field">
            <div class="image">
                <img src="../../../assets/image 36.png" alt="">
            </div>
            <div class="buttons">
                <div class="btn-crt">
                    <button class="btn" *ngIf="cartValue" (click)="cart();cartAdd()">add to
                        bag</button>
                    <div class="quantity" *ngIf="!cartValue">
                        <div class="decreaseQty" (click)="bookMinusCount(Book)">
                            <img  src="../../../assets/negative.svg" alt=" ">
                        </div>
                        <div class="one">
                            {{Book.quantityToBuy}}
                        </div>
                        <div class="IncreaseQty" (click)="bookPlusCount(Book)">
                            <img  src="../../../assets/positive.svg" alt=" ">
                        </div>
                    </div>
                </div>
                <div class="wishlst">
                    <button class="btn" (click)="wish()">wishlist</button>
                </div>
            </div>
        </div>
        <div class="book-description">
            <div class="bookname">
                <h2>{{bookName}}</h2>
                <p>by {{bookAuthor}}</p>
            </div>
            <div class="rating-container">
                <div class="rating">
                    4 <mat-icon class="star">star</mat-icon>
                </div>
                <div class="no-of-people-rated">
                    (3)
                </div>
            </div>
            <div class="price-container">
                <div class="dicounted-price">
                    Rs. {{bookDiscountPrice}}
                </div>
                <div class="actual-price">
                    Rs. {{bookPrice}}
                </div>
            </div>
            <hr>
            <div class="disc">
                <ul>
                    <li>
                        Book Details
                    </li>
                </ul>
                {{bookDiscription}}
            </div>
            <hr>
            <div class="feedback">
                <h2>Customer Feedback</h2>
            </div>
            <div class="feed">
                <p>Overall Rating</p>
                <div class="star">
                    <div class="rate">
                        <label for="star5" title="text">5 stars</label>
                        <label for="star4" title="text">4 stars</label>
                        <label for="star3" title="text">3 stars</label>
                        <label for="star2" title="text">2 stars</label>
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <div class="sub">
                    <button class="btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>