<div>
    <div class="place_img">
        <img src="../../../assets/placeUp.png" alt="" class="img">
    </div>
    <div class="ord">
        <h1>Order Placed Successfully</h1>
    </div>
    <div class="placedown">
        <img src="../../../assets/placeDown.png" alt="" class="img">
    </div>
    <div class="msg">
        <p style="text-align: center;font: normal normal normal 18px/22px Lato;color: #333232;opacity: 1; ">
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>
    <div class="tbl">
        <TABLE style="border: none; " BORDER="0 " WIDTH="80% " CELLPADDING="10 " CELLSPACING="0 ">
            <TR style="border: 1px solid #DCDCDC;background-color: gainsboro ">
                <TH COLSPAN="1 ">
                    <H3 style="text-align: center; ">Email</H3>
                </TH>
                <TH COLSPAN="1 ">
                    <H3 style="text-align: center; ">Contact us</H3>
                </TH>
                <TH COLSPAN="1 ">
                    <H3 style="text-align: center; ">Address</H3>
                </TH>

            </TR>
            <TR>
                <TH style="color: #333232;opacity: 0.71; "> sandy@bookStore.com</TH>
                <TH style="color: #333232;opacity: 0.71; ">7748860079</TH>
                <TH style="text-align: start;color: #333232;opacity: 0.71; ">Bhilai Chhattisgarh</TH>

            </TR>

        </TABLE>
    </div>

    <div>
        <button mat-flat-button class="continuebutton" color="primary" routerLink="/dashbord/getallbook">
            Continue shopping</button>
    </div>
</div>
