<div class="fixpos">
    <mat-toolbar class="header">
        <div class="logo" routerLink="/home/books">
            <img src="../../../assets/education (1).svg" alt="">
            <p routerLink="/home/books">Bookstore</p>
        </div>
        <div class="search-container" >
            <div class="s-btn" type="button">
                <img src="../../../assets/search.svg">
            </div>
            <div class="srch">
                <input class="search-field" type="text" aria-label="search" placeholder="Search" autocomplete="off"
                    role="combobox" aria-hidden="false">
            </div>
        </div>
        <button mat-icon-button class="profile">
            <mat-icon [matMenuTriggerFor]="menu">
                <img src="../../../assets/person_white_24dp.svg" alt="">
            </mat-icon>
            <label>Profile</label>
        </button>
    
        <mat-menu #menu="matMenu" class="menu-field">
            <div class="bg">
                <h4>Welcome</h4>
                <p>To acsess account and manage orders</p>
                <button class="login-btn" >Logout</button>
                <hr>
                <div class="order">
                    <img src="../../../assets/markunread-mailbox.svg" alt="">
                    <p>My Order</p>
                </div>
                <div class="order">
                    <img src="../../../assets/like.svg" alt="">
                    <p>Wishlist</p>
                </div>
            </div>
        </mat-menu>

        <button mat-icon-button class="cart" >
            <mat-icon>
                <img (click)="cart()" src="../../../assets/shopping_cart_white_24dp.svg" alt="">
            </mat-icon>
            <label >Cart</label>
        </button>
    </mat-toolbar>
</div>
