table,
th,
td {
    border: 1px solid black;
}

.src {
    width: 200px;
    height: 200px;
}
.tbl{
    margin: 1px;
    margin-left: 217px;
}
.header{
    margin-top: 13px;
    margin-left: 217px;
}
.page {
    margin-left: 299px;

}